*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
}

header{
    padding: 20px 80px 20px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: #E5E7EB;
}

.header-logo{
    font-weight: bold;
}

.header-links ul{
    display: flex;
    gap: 20px;
}

.header-links ul li {
    list-style-type: none;
}