*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
}

header{
    padding: 20px 80px 20px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
}

.header-logo{
    font-weight: bold;
    color: #F9FAF8;
    font-size: 24px;
}

.header-links ul{
    display: flex;
    gap: 20px;
}

.header-links ul li {
    list-style-type: none;
    color: #E5E7EB;
    font-size: 18px;
}

.hero{
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
}

.left-hero h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.left-hero p{
    
}